﻿@page
@model BookListRazor.Pages.BookList.IndexModel

<br />
<div class="container row p-0 m-0">
    <div class="col-md-8 col-lg-8 col-6">
        <h2 class="text-info">Book List</h2>
    </div>
    <div class="col">
        <a asp-page="Upsert" class="btn btn-info form-control text-white">Create New Book</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Books.Count() > 0)
            {
                <table class="table table-striped border" id="book_table_id">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Books.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().Author"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().ISBN"></label>
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach (var item in Model.Books)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Author)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.ISBN)
                            </td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure to delete this book?')" class="btn btn-danger btn-sm w-100">Delete</button>
                            </td>
                            <td>
                                <a asp-page="Upsert" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white w-100">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <h4>No books available.</h4>
            }
        </form>

    </div>

    <!-- I'll be load this table with JS -->
    <div class="col-12 text-center">
        <br />
        <span class="h3 text-info">OR</span>
        <br /><br />
    </div>
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered w-100">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>
@section Scripts{
    <script src="~/js/booklist.js?v=1"></script>
}