﻿@page
@model BookListRazor.Pages.BookList.UpsertModel


<br />
<h2 class="text-info">@(Model.Book.Id!=0 ? "Edit" : "Create") Book</h2>
<br />

<div class="border container p-3">
    <form method="post">
        @if (Model.Book.Id != 0)
        {
            <input type="hidden" asp-for="Book.Id" />
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-md-4 col-lg-4 col-12">
                <label asp-for="Book.Name"></label>
            </div>
            <div class="col-md-6 col-lg-6 col-12">
                <input asp-for="Book.Name" class="form-control" />
                <span asp-validation-for="Book.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 col-lg-4 col-12">
                <label asp-for="Book.Author"></label>
            </div>
            <div class="col-md-6 col-lg-6 col-12">
                <input asp-for="Book.Author" class="form-control" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 col-lg-4 col-12">
                <label asp-for="Book.ISBN"></label>
            </div>
            <div class="col-md-6 col-lg-6 col-12">
                <input asp-for="Book.ISBN" class="form-control" />
                <span asp-validation-for="Book.ISBN" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6 col-lg-6 col-12 offset-md-4 offset-lg-4 pb-2">
                <button type="submit" id="onPostBtn" class="btn btn-primary form-control ">@(Model.Book.Id != 0 ? "Update" : "Create")</button>
            </div>
            <div class="col-md-3 col-lg-3 col-12">
                <a asp-page="Index" class="btn btn-danger form-control">Back to List</a>
            </div>
        </div>
    </form>

</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}